<article class="flex-container">
  <section>
    <h1>My To-do List</h1>
    <form class="add-todo-wrapper" action="/todos" method="POST">
      <input type="text" name="todo_text" class="todo-input" placeholder="What's next?" />
      <input type="date" name="due_date" class="todo-date" />
      <button class="add-button" type="submit">Add</button>
    </form>
  </section>
  <section class="flex-wrapper">
    <%= render partial: "todo-section", locals: {
      section_title: "Overdue",
      todos: Todo.overdue,
      show_date: true
    } %>
    <%= render partial: "todo-section", locals: {
      section_title: "Due Today",
      todos: Todo.due_today,
      show_date: false
    } %>
    <%= render partial: "todo-section", locals: {
    section_title: "Due Later",
    todos: Todo.due_later,
    show_date: true
    } %>
  </section>
</article>
